@import "compass/css3";

body{
  /*visibility: visible;*/
}
.wrapper{
  /*position: relative;*/
  max-width: 70% ;
  max-height: 70% ;
  transform: translate(30%, 30%);
}

.name{
  margin-left: -200px;
  margin-top: -120px;
  /*margin: 40px;*/
  position: fixed;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 65px;
  color: rgb(151, 163, 230);
  z-index: 10000;
}

.content {
  position: absolute;
  margin: 280px 0px 0px 0px ;
  width: 50%;
  height: 50%;
  transform: translate(30%, 30%);


}

img{
  width: 1500px;
  height: 1260px;
  position: fixed;
  z-index: -5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: -20;
  -webkit-filter: opacity(50%); /* Chrome, Safari, Opera */
  filter: opacity(60%);
}



h2 {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /*line-height: 1.4em;*/
  font-size: 23px;
  list-style: none;
  text-decoration: none;
  padding: 20px 0px 12px 0px;
}

/*h2:hover {
  color: lightpink;
  cursor: crosshair;
}*/

h5{
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /*line-height: 1.4em;*/
  font-size: 29px;
  list-style: none;
  text-decoration: none;
  padding: 20px 0px 20px 0px;
}

h5:hover {
  color: rgb(151, 163, 230);
  cursor: crosshair;
}

h6{
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  /*padding-bottom: 20px;*/
}

p {
  margin-top: -10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: lighter;
}


.projects{
  position: relative;
  z-index: 1000;
  display: inline-block;
  max-width: 140px;
  max-height: 75px;
  margin: 10px 10px 10px 0px;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 37.5px 70px 37.5px 70px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: -19px;

}

li {
  float: left;
}

li a {
  display: block;
  padding: 10px 20px 10px 2px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

a:hover {
  text-decoration: none;
  color: rgb(151, 163, 230);
  cursor: crosshair;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: red;
  background-color: rgba(190,190,255, 0.7); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  visibility: visible;
}

.note {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-385px,-185px);
  z-index: 120;
  text-align: center;
  margin-top: -40px;
}

h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:80px;

}

h4{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:40px;
  position: relative;
  margin-top: -80px;
}


#box {
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;

}

#box.clicked {
  height: 200px;
  overflow-y: scroll;
}

#box2 {
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;
}

#box2.clicked {
  height: 300px;
  overflow-y: scroll;
}

#box3 {
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;
}

#box3.clicked {
  height: 170px;
  overflow-y: scroll;
}
