/*@import "compass/css3";*/

body{
  z-index: -10001;
  background-color: rgb(151, 163, 230);
  overflow-y: hidden;
  overflow-x: hidden;
}
.fullPage{
  z-index: -10000;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: inline;
  position: absolute;
  background-color: white;
  margin: 10px 10px 10px 10px;
}

.yaris{
  position: absolute;
  z-index: -1000;
  width: 230%;
  top:-70px;
  left:-85px;
  pointer-events: none;
}

.portrait{
  float: left;
  margin: 0px 20px 18px 15px;
  position: relative;
  z-index: 1;
  top:-8px;
  width: 33%;
  border: 1px solid rgb(151, 163, 230);
  border-radius: 1px;
  max-width: 500px;
  text-align: center;

}


.mainMenu {
  position: absolute;
  max-width: 22%;
  max-height: auto ;
  transform: translate(30%, 0%);
  top: 220px;
}


.myName{
  color: rgb(151, 163, 230);
  margin-top: -120px;
  position: fixed;
  line-height: .9;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-decoration: none;
}

.myName:hover{
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: rgb(151, 163, 230);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #999;
  cursor: pointer;
}



h2{
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  padding: 30px 0px 20px 0px;
}

h5{
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /*line-height: 2.4em;*/
  font-size: 30px;
  list-style: none;
  text-decoration: none;
  padding: 20px 0px 20px 0px;
}

h5:hover {
  color: rgb(151, 163, 230);
  cursor: pointer;
}

h6{
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  /*line-height: 1.2em;*/


}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  line-height: 1.35em;
  letter-spacing: normal;
}

.contacts{
  text-decoration: none;
  list-style-type: none;
  max-width: 100%;

  /*float: left;*/
  /*margin-top: -15px;*/
}

.contacts ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.contacts li {
  float: left;
}

.contacts li a {
  vertical-align: baseline;
  padding-right: 10px;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.contacts li a:hover {
  text-decoration: none;
  color: rgb(151, 163, 230);
  cursor: pointer;
}

.lil-footer{
  white-space: nowrap;
}
/*.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(190,190,255, 0.7);
  overflow-x: hidden;
  visibility: visible;
}

.note {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-385px,-300px);
  z-index: 120;
  text-align: center;
  margin-top: -40px;
}*/






#box1 {
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;
  overflow-x: hidden;

}

#box1.clicked {
  height: 250px;
  overflow-y: scroll;
}

#box2 {
  position: relative;
  z-index: -10;
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;
  overflow-x: hidden;
}

#box2.clicked {
  height: 300px;
  overflow-y: scroll;
}

#box3 {
  position: relative;
  z-index: -10;
  width: auto;
  height: 85px;
  border: solid black;
  border-width: 0px 0px 1.5px 0px;
  transition: height 1s;
  overflow-y: hidden;
  overflow-x: hidden;

}

#box3.clicked {
  height: 210px;
  overflow-y: hidden;
}





/*TESTING*/


/*.project_popup .inner {
    position: absolute;
    max-width: 50%;
    max-height: 70% ;
    transform: translate(67%, -12%);
    top: 200px;
    border: 2px dotted black;
    background-color: white;
    padding: 35px;
    height: 700px;
  }

.hidden {
    display: none;
  }*/


/*.close {
    position: relative;
    float: right;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 13px;
    list-style: none;
    text-decoration: none;
    top:-20px;
    right:-20px;
  }*/

/*.close:hover{
}*/

/*.popups{
    /*left: 300px;*/

   /*transform: translate(35%,0%);*/
   /*margin-top: 100px;
   }*/




/*******/
#project-cards img {
  border: 5px solid rgb(151, 163, 230);
}

#dynamic-pages .project-page {
  position: fixed;
  height: 70%;
  width: 45%;
  top: 100px;
  left: 40%;
  border: 2px dotted black;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
}

.project-page .group{
  margin: 5% 10% 5% 10%;
  /*background-color: red;*/
}

.list-reset {
  list-style: none;
  margin:0;
  padding: 0;
}

.project-text{
  display: inline-block;
}

.project-text h1{
  color: rgb(151, 163, 230);
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
}

.project-text p{
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.35em;
}

.project-page button.close {
  position: fixed;
  padding-left: 43%;
  margin-top: 17px;
  z-index: 500;
  color: #999;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
}

.project-page button.close:hover{
  color: rgb(151, 163, 230);
  cursor: pointer;
}


#embed-wrapper {
  /*position: inherit;*/
  /*background-color: blue;*/
  height: 50% !important;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.embed-vid{
  vertical-align: middle;
  margin: 5% 0 5% 0;
}

#embed-wrapper iframe{
  border: 1px solid rgb(151, 163, 230);
  max-width: 80% !important;
  /*height: 50%;*/
 vertical-align: middle;
}

#project-images {
  position: inherit;
  height: 100%;      /* equals max image height */
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.content {
  vertical-align: middle;
  margin: 5% 0 5% 0;
}

.project-page img{
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  border: 1px solid rgb(151, 163, 230);
}
