h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

a {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Roboto, sans-serif;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-image: -webkit-linear-gradient(270deg, rgba(203, 209, 243, .3), rgba(203, 209, 243, .3));
  background-image: linear-gradient(180deg, rgba(203, 209, 243, .3), rgba(203, 209, 243, .3));
}

.dot_com {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Roboto, sans-serif;
  color: #97a3e6;
  font-weight: 500;
  text-align: left;
  letter-spacing: 2px;
}

.dot_com:hover {
  color: rgba(0, 0, 0, .6);
}

.div-block {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  clear: both;
  border: 10px solid #97a3e6;
}

.nav_bar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  float: none;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image {
  position: fixed;
  top: 70px;
  z-index: -10;
  display: block;
  width: 15%;
}

.content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: rgba(0, 0, 0, .6);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  cursor: pointer;
}

.heading-2:hover {
  color: #97a3e6;
}

.aboutbutton {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
}

.about {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: none;
  overflow: scroll;
  width: 60%;
  height: 50%;
  margin: auto;
  padding: 5% 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 2px dotted #000;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: Roboto, sans-serif;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  padding: 2% 3%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a5a5a5;
  font-weight: 500;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.x {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}

.x:hover {
  color: #97a3e6;
  font-weight: 400;
}

.selfie {
  position: static;
  top: 0px;
  right: 0px;
  display: block;
  max-width: 25%;
  margin-right: 4%;
  padding-top: 0px;
  border: 2px solid #97a3e6;
  border-radius: 0px;
}

.resume_link {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #97a3e6;
  text-align: center;
}

.resume_link:hover {
  color: #a5a5a5;
}

.bio {
  position: static;
  left: 0px;
  top: -30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  line-height: 143%;
}

.about_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.contact {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: none;
  overflow: scroll;
  width: 70%;
  margin: 25% auto;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dotted #000;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.contact_links_div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #97a3e6;
  text-align: center;
  text-transform: none;
}

.contact_links:hover {
  color: rgba(0, 0, 0, .6);
}

.div-block-2 {
  position: relative;
  left: 0px;
  top: 0%;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.paragraph {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: rgba(51, 51, 51, .73);
  font-size: 11px;
  text-align: center;
}

.work {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: none;
  overflow: visible;
  width: 80%;
  height: 90%;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.proj_thumb {
  display: block;
  overflow: hidden;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #97a3e6;
  box-shadow: 4px 4px 0 0 rgba(203, 209, 243, .5);
  cursor: pointer;
}

.proj_thumb:hover {
  border-width: 2px;
  border-color: rgba(0, 0, 0, .6);
  box-shadow: 4px 4px 0 0 #cbd1f3;
}

.collection-list-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.proj_title {
  font-family: Roboto, sans-serif;
  color: #6e6e6e;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.project_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: none;
  overflow: hidden;
  width: 84%;
  height: 60%;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dotted #000;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.collection-list {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.proj_1_about {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 2.5%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.proj_1_videos {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  overflow: scroll;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 2.5% 5% 5%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.proj_page_tile {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Roboto, sans-serif;
  color: #97a3e6;
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
}

.proj_page_mediums {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, .6);
  font-weight: 300;
}

.proj_page_text {
  font-size: 12px;
}

.proj_page_videos {
  margin-bottom: 5%;
  padding-bottom: 0%;
  border: 3px solid #97a3e6;
}

.project_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: none;
  overflow: hidden;
  width: 84%;
  height: 60%;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dotted #000;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.div-block-3 {
  position: absolute;
  right: 35px;
  bottom: 10px;
}

.heading-5 {
  color: #97a3e6;
  font-size: 23px;
}

.summary {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  margin: -6px auto 12px;
  font-family: Roboto, sans-serif;
  color: #a5a5a5;
  font-size: 11px;
  text-align: center;
}

.work_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: 75%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.thumbnails {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 20%;
  margin-top: 5%;
}

.column {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100%;
}

.column-2 {
  height: 100%;
}

.column-3 {
  height: 100%;
}

.column-4 {
  height: 100%;
}

.proj1_thumb {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #97a3e6;
}

.proj1_thumb:hover {
  border-width: 5px;
  border-color: #a5a5a5;
}

.proj2_thumb {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #97a3e6;
}

.proj2_thumb:hover {
  border-width: 5px;
  border-color: #a5a5a5;
}

.proj3_thumb {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #97a3e6;
}

.proj3_thumb:hover {
  border-width: 5px;
  border-color: #a5a5a5;
}

.proj4_thumb {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #97a3e6;
}

.proj4_thumb:hover {
  border-width: 5px;
}

.column-5 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  padding-right: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-6 {
  overflow: scroll;
  padding-left: 1%;
}

.image-6 {
  position: relative;
  display: block;
  overflow: visible;
  min-width: 100%;
  padding-right: 5%;
  padding-bottom: 5%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-7 {
  min-width: 100%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.image-8 {
  min-width: 100%;
  padding-right: 5%;
}

.heading-6 {
  margin-top: auto;
  font-weight: 500;
  text-transform: uppercase;
}

.paragraph-2 {
  display: block;
  overflow: scroll;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
}

.text-block {
  padding-bottom: 3%;
  color: #a5a5a5;
}

.project-2 {
  display: none;
  overflow: scroll;
  height: 100%;
  padding: 5%;
  border: 2px dotted #000;
}

.project-1 {
  display: none;
  overflow: scroll;
  height: 100%;
  padding: 5%;
  border: 2px dotted #000;
}

.project-3 {
  display: none;
  overflow: scroll;
  height: 100%;
  padding: 5%;
  border: 2px dotted #000;
}

.project-4 {
  display: none;
  overflow: scroll;
  height: 100%;
  padding: 5%;
  border: 2px dotted #000;
}

.text-block-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #a5a5a5;
  font-weight: 300;
}

